* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(175, 175, 175);
  text-decoration: none;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: #4f008f;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #252525;
}

header {
  position: fixed;
  background-color: #252525;
  top: 0;
  width: 100%;
}
header form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
header form .form_item {
  margin: 5px;
}
header form #input-file {
  display: none;
}
header form label#labelForinput-file {
  background-color: #4f008f;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
header form label#labelForinput-file:hover {
  background-color: #380066;
}
header form .btns-convertion {
  display: flex;
  align-items: center;
}
header form .btns-convertion div#cancelButton {
  background-color: #4f008f;
  padding: 15px 20px;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}
header form .btns-convertion div#cancelButton:hover {
  background-color: #380066;
}
header form .btns-convertion button#convert-button {
  background-color: #4f008f;
  outline: none;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 16px;
}
header form .btns-convertion button#convert-button:hover {
  background-color: #380066;
}
header form .btns-convertion .hiden {
  display: none;
}
header form #output-format {
  padding: 10px;
  background-color: #252525;
  border: none;
  font-size: 16px;
  outline: none;
}
header div.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid rgb(51, 51, 51);
  box-shadow: 10px 5px 5px rgba(24, 24, 24, 0.4784313725);
}
header div.bar div.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}
header div.bar div.btns span {
  background-color: #1a1a1a;
  padding: 10px 20px;
}
header div.bar div.btns span.currenteVideoList {
  background-color: #4f008f;
}
header div.bar span#NumberOfvideosOnList {
  padding: 10px 20px;
  text-align: left;
}

#videos_for_converte_Container {
  height: 100vh;
  width: 100%;
  background-color: #181818;
  padding-top: 140px;
}
#videos_for_converte_Container #convertedList {
  overflow: auto;
  padding-bottom: 100px;
  display: none;
  width: 100%;
  height: 100%;
}
#videos_for_converte_Container #convertedList h2 {
  text-align: center;
  color: rgb(175, 175, 175);
  padding: 20px 0px;
}
#videos_for_converte_Container #convertedList table {
  color: whitesmoke;
  padding: 20px;
  width: 100%;
}
#videos_for_converte_Container #convertedList table tbody#video-list tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#videos_for_converte_Container #convertedList table tbody#video-list tr td {
  padding: 0px 10px;
  font-size: 14px;
}
#videos_for_converte_Container #convertedList table tbody#video-list tr td.videoName span.converted {
  display: inline-block;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
#videos_for_converte_Container #convertedList table tbody#video-list tr td.convertVideoTime span.convertedAt {
  color: rgb(179, 146, 0);
}
#videos_for_converte_Container #convertedList .cleanHistoryBtn_container {
  position: fixed;
  top: 0;
  display: flex;
  padding: 150px 0px;
  z-index: 999999;
  justify-content: flex-end;
}
#videos_for_converte_Container #convertedList .cleanHistoryBtn_container span {
  padding: 10px 5px;
  padding-right: 15px;
  background-color: #4f008f;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
#videos_for_converte_Container #convertedList .cleanHistoryBtn_container span:hover {
  padding-right: 30px;
  background-color: #470081;
}
#videos_for_converte_Container #convertingList {
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: block;
}
#videos_for_converte_Container #convertingList p {
  text-align: center;
  padding: 100px 20px;
}
#videos_for_converte_Container #convertingList div.videoItemList {
  background-color: #252525;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#videos_for_converte_Container #convertingList div.videoItemList div.video_source {
  background-color: #2e2e2e;
  width: 50%;
  margin-top: 10px;
}
#videos_for_converte_Container #convertingList div.videoItemList div.video_source ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
#videos_for_converte_Container #convertingList div.videoItemList div.video_source ul li {
  margin: 5px 10px;
}
#videos_for_converte_Container #convertingList div.videoItemList div.video_source ul li span {
  font-size: 14px;
}
#videos_for_converte_Container #convertingList div.converting {
  background-color: #270158;
}
#videos_for_converte_Container #convertingList div.converting div.video_source {
  background-color: #43009b;
}
#videos_for_converte_Container #convertingList div.converted {
  background-color: #1a1a1a;
}
#videos_for_converte_Container #convertingList div.canceledvideoconversion {
  background-color: rgba(255, 66, 66, 0.082);
}

.progress-bar_container {
  background-color: #252525;
  box-shadow: 10px 5px 5px rgba(24, 24, 24, 0.4784313725);
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid rgb(51, 51, 51);
  width: 100%;
  position: fixed;
  padding: 20px;
  bottom: 0;
  z-index: 99;
}
.progress-bar_container progress {
  width: 100%;
  height: 2px;
  border-radius: 0px;
}
.progress-bar_container progress::-webkit-progress-bar {
  background-color: #3a3a3a;
  border-radius: 0px;
}
.progress-bar_container progress::-webkit-progress-value {
  background-color: #4f008f;
  border-radius: 0px;
}
.progress-bar_container #progress-video {
  font-size: 10px;
  padding-bottom: 10px;
}
.progress-bar_container #progress-text {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
}/*# sourceMappingURL=styles.css.map */